body {
    background: var(--page-background);
    color: var(--page-color);
    letter-spacing: rem(1);
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;

    @include bodyFont();
}

.tab {
    display: none; 
    height: 100%;
}

.valid {
    color: var(--color-success);
}

.invalid {
    color: var(--color-error);
}