@font-face {
	font-family: 'baitIcons';
	src: url('../fonts/baitIcons.eot?dr4eox');
	src:
		url('../fonts/baitIcons.eot?dr4eox#iefix') format('embedded-opentype'),
		url('../fonts/baitIcons.ttf?dr4eox') format('truetype'),
		url('../fonts/baitIcons.woff?dr4eox') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'baitIcons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
	content: '\e920';
}

.icon-alert-circle:before {
	content: '\e921';
}

.icon-arrow-down:before {
	content: '\e900';
}

.icon-arrow-left:before {
	content: '\e901';
}

.icon-arrow-right:before {
	content: '\e902';
}

.icon-arrow-up:before {
	content: '\e903';
}

.icon-box:before {
	content: '\e904';
}

.icon-check:before {
	content: '\e905';
}

.icon-chevron-down:before {
	content: '\e906';
}

.icon-chevron-left:before {
	content: '\e907';
}

.icon-chevron-right:before {
	content: '\e908';
}

.icon-chevron-up:before {
	content: '\e909';
}

.icon-chevrons-down:before {
	content: '\e90a';
}

.icon-chevrons-left:before {
	content: '\e90b';
}

.icon-chevrons-right:before {
	content: '\e90c';
}

.icon-chevrons-up:before {
	content: '\e90d';
}

.icon-circle:before {
	content: '\e91c';
}

.icon-credit-card:before {
	content: '\e922';
}

.icon-crosshair:before {
	content: '\e90e';
}

.icon-download-cloud:before {
	content: '\e923';
}

.icon-heart:before {
	content: '\e90f';
}

.icon-help-circle:before {
	content: '\e910';
}

.icon-info:before {
	content: '\e911';
}

.icon-key:before {
	content: '\e912';
}

.icon-layers:before {
	content: '\e91d';
}

.icon-message-square:before {
	content: '\e913';
}

.icon-minus:before {
	content: '\e914';
}

.icon-monitor:before {
	content: '\e915';
}

.icon-moon:before {
	content: '\e916';
}

.icon-package:before {
	content: '\e91e';
}

.icon-play:before {
	content: '\e924';
}

.icon-plus:before {
	content: '\e917';
}

.icon-power:before {
	content: '\e91f';
}

.icon-save:before {
	content: '\e925';
}

.icon-settings:before {
	content: '\e918';
}

.icon-sliders:before {
	content: '\e919';
}

.icon-sun:before {
	content: '\e91a';
}

.icon-trash:before {
	content: '\e926';
}

.icon-trash-2:before {
	content: '\e927';
}

.icon-upload-cloud:before {
	content: '\e928';
}

.icon-x:before {
	content: '\e929';
}

.icon-zap:before {
	content: '\e91b';
}

.icon-language:before {
	content: '\e92a';
}
