@mixin flex($direction: row, $horizontal: center, $vertical: center, $inline: false, $wrap: false) {
  $display: flex;
  @if $inline == true or $inline == inline {
    $display: inline-flex;
  }

  display: $display;
  flex-direction: $direction;

  $horizontal-map: (
    left: flex-start,
    center: center,
    right: flex-end,
    edges: space-between,
    even: space-evenly,
    full: stretch
  );

  $vertical-map: (
    top: flex-start,
    center: center,
    bottom: flex-end,
    edges: space-between,
    even: space-evenly,
    full: stretch
  );

  @if $wrap == wrap or $wrap == true {
    flex-wrap: wrap;
  }

  @if ($direction == row) {
    justify-content: map-get($horizontal-map, $horizontal);
    align-items: map-get($vertical-map, $vertical);
  } 
  @else if ($direction == column) {
    justify-content: map-get($vertical-map, $vertical);
    align-items: map-get($horizontal-map, $horizontal);
  }
}

@mixin resetButton() {
  appearance: none;
  border: none;
  outline: none;
}
