*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul, ul li {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration-color: var(--accent);
  }
  
  ::selection {
    background: var(--accent);
    color: var(--page-color);

    
  }
  
  img {
      display: block;
      max-width: 100%;
  }