@media (prefers-color-scheme: dark) {
	:root {
		--accent: #fc4242;

		// accents rgb must match the accent's hex
		--accent-r: 252;
		--accent-g: 66;
		--accent-b: 66;

		--page-background: #070707;
		--page-color: #fefefe;

		--sidebar-background: #262626;

		--color-error: #ef4444;
		--color-success: #a3e635;
		--color-info: #08689b;

		--input-border: #070707;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--accent: #fc4242;

		// accents rgb must match the accent's hex
		--accent-r: 252;
		--accent-g: 66;
		--accent-b: 66;

		--page-background: #fefefe;
		--page-color: #070707;

		--sidebar-background: #ececec;

		--color-error: #ef4444;
		--color-success: #4ca75b;
		--color-info: #08689b;

		--input-border: #bbbbbb;
	}
}

$sidebarTogglerSize: 44;

// global variable for border-radius
$corner: 8px;

$bezier: cubic-bezier(0.71, -0.26, 0.29, 1.27);

$toggle: ();

$sidebar: (
	gap: 40,

	expanded: (
		width: 250,
		padding: 30 10 20 10,
	),
	collapsed: (
		width: 80,
		padding: 30 10 10 10,
	),

	item: (
		padding: 15 20,
		height: 50,
		collapsedHeight: 60,
		gap: 16,
	),
);

$scrollbar: (
	thickness: 4px,
	track: #000,
	thumb: #ccc,
);
