<div class="tab two-columns" data-tab-source="mods">
    <div class="mods-sidebar" data-tab-container="ogre-settings">
        <div class="scrollable">
            <div class="mods-group inactive">
                <h3 class="mods-group-title">Pack II settings <span class="status invalid">Inactive <a href="!#" class="button purchase small">Get a code</a></span></h3>
                <ul>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.two_dashCam">
                        <label for="bait.two_dashCam"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.two_dashCam">Dash Cam</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.two_predictionShadow">
                        <label for="bait.two_predictionShadow"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.two_predictionShadow">Shot Prediction Phantom</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.two_ghostShadow">
                        <label for="bait.two_ghostShadow"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.two_ghostShadow">Phantom of Missing Enemy</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.two_shotShadow">
                        <label for="bait.two_shotShadow"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.two_shotShadow">Shot Point Phantom</button>
                    </li>
                </ul>
            </div>
    
            <div class="mods-group">
                <h3 class="mods-group-title">Bait settings <span class="status valid">03.02.2025</span></h3>
                <ul>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.chameleonPlus">
                        <label for="bait.chameleonPlus"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.chameleonPlus">Chameleon Plus</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.playersPanel">
                        <label for="bait.playersPanel"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.playersPanel">Players Panel</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.reloadInfo">
                        <label for="bait.reloadInfo"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.reloadInfo">Reload Info</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.enemyShotPlace">
                        <label for="bait.enemyShotPlace"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.enemyShotPlace">Enemy shot place</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.tundr">
                        <label for="bait.tundr"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.tundr">Tundra</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.spot6thSense">
                        <label for="bait.spot6thSense"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.spot6thSense">Spot 6<sup>th</sup> Sense</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.repair">
                        <label for="bait.repair"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.repair">Smart Repair</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.x-ray">
                        <label for="bait.x-ray"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.x-ray">X-Ray</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.tracers">
                        <label for="bait.tracers"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.tracers">Tracers</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.laser">
                        <label for="bait.laser"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.laser">Lasers</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.destructibleOnMap">
                        <label for="bait.destructibleOnMap"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.destructibleOnMap">Destructible objects</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.somethingWasHit">
                        <label for="bait.somethingWasHit"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.somethingWasHit">Something was hit</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.enemyBehind">
                        <label for="bait.enemyBehind"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.enemyBehind">Enemy Behind (Arrows)</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.showAfterVisibleRange">
                        <label for="bait.showAfterVisibleRange"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.showAfterVisibleRange">Vehicle markers after visible range</button>
                    </li>
                    <li class="toggle-option">
                        
                        <input type="checkbox" id="bait.tweaks">
                        <label for="bait.tweaks"><span class="option-state"><span>On</span><span>Off</span></span></label>
                        <button data-tab-target="bait.tweaks">Tweaks</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mods-settings">
        <div class="tab" data-tab-source="bait.two_dashCam">bait.two_dashCam</div>
        <div class="tab" data-tab-source="bait.two_predictionShadow">bait.two_predictionShadow</div>
        <div class="tab" data-tab-source="bait.two_ghostShadow">bait.two_ghostShadow</div>
        <div class="tab" data-tab-source="bait.two_shotShadow">bait.two_shotShadow</div>
        <div class="tab" data-tab-source="bait.chameleonPlus">bait.chameleonPlus</div>
        <div class="tab" data-tab-source="bait.playersPanel">bait.playersPanel</div>
        <div class="tab" data-tab-source="bait.reloadInfo">bait.reloadInfo</div>
        <div class="tab" data-tab-source="bait.enemyShotPlace">bait.enemyShotPlace</div>
        <div class="tab" data-tab-source="bait.tundr">bait.tundr</div>
        <div class="tab" data-tab-source="bait.spot6thSense">bait.spot6thSense</div>
        <div class="tab" data-tab-source="bait.repair">bait.repair</div>
        <div class="tab" data-tab-source="bait.x-ray">bait.x-ray</div>
        <div class="tab" data-tab-source="bait.tracers">bait.tracers</div>
        <div class="tab" data-tab-source="bait.laser">bait.laser</div>
        <div class="tab" data-tab-source="bait.destructibleOnMap">bait.destructibleOnMap</div>
        <div class="tab" data-tab-source="bait.somethingWasHit">bait.somethingWasHit</div>
        <div class="tab" data-tab-source="bait.enemyBehind">bait.enemyBehind</div>
        <div class="tab" data-tab-source="bait.showAfterVisibleRange">bait.showAfterVisibleRange</div>
        <div class="tab" data-tab-source="bait.tweaks">bait.tweaks</div>
    </div>
</div>
<div class="tab" data-tab-source="ogre">ogre</div>
<div class="tab" data-tab-source="tuning">tuning</div>
<div class="tab" data-tab-source="user">user</div>
<div class="tab" data-tab-source="forum">forum</div>