<div class="tab two-columns" data-tab-source="mods">
	<div class="mods-sidebar" data-tab-container="ogre-settings">
		<div class="scrollable">
			<!-- Content will populate from JS -->
		</div>
	</div>
	<div class="mods-settings">
		<div class="tab" data-tab-source="bait.two_dashCam">bait.two_dashCam</div>
		<div class="tab" data-tab-source="bait.two_predictionShadow">bait.two_predictionShadow</div>
		<div class="tab" data-tab-source="bait.two_ghostShadow">bait.two_ghostShadow</div>
		<div class="tab" data-tab-source="bait.two_shotShadow">bait.two_shotShadow</div>
		<div class="tab" data-tab-source="bait.chameleonPlus">bait.chameleonPlus</div>
		<div class="tab" data-tab-source="bait.playersPanel">bait.playersPanel</div>
		<div class="tab" data-tab-source="bait.reloadInfo">bait.reloadInfo</div>
		<div class="tab" data-tab-source="bait.enemyShotPlace">bait.enemyShotPlace</div>
		<div class="tab" data-tab-source="bait.tundr">bait.tundr</div>
		<div class="tab" data-tab-source="bait.spot6thSense">bait.spot6thSense</div>
		<div class="tab" data-tab-source="bait.repair">bait.repair</div>
		<div class="tab" data-tab-source="bait.x-ray">bait.x-ray</div>
		<div class="tab" data-tab-source="bait.tracers">bait.tracers</div>
		<div class="tab" data-tab-source="bait.laser">bait.laser</div>
		<div class="tab" data-tab-source="bait.destructibleOnMap">bait.destructibleOnMap</div>
		<div class="tab" data-tab-source="bait.somethingWasHit">bait.somethingWasHit</div>
		<div class="tab" data-tab-source="bait.enemyBehind">bait.enemyBehind</div>
		<div class="tab" data-tab-source="bait.showAfterVisibleRange">bait.showAfterVisibleRange</div>
		<div class="tab" data-tab-source="bait.tweaks">bait.tweaks</div>
	</div>
</div>
<div class="tab" data-tab-source="ogre">ogre</div>
<div class="tab" data-tab-source="tuning">tuning</div>
<div class="tab" data-tab-source="user">user</div>
<div class="tab" data-tab-source="forum">forum</div>
