<div class="label">
    <i class="icon icon-key"></i> Subscriptions
</div>

<ul>
    <li>
        <span class="service">Ogre</span>
        <span class="status invalid">Inactive</span>
    </li>
    <li>
        <span class="service">Bait</span>
        <span class="status valid">03.02.2025</span>
    </li>
    <li>
        <span class="service">Pack II:</span>
        <span class="status invalid">Inactive</span>
    </li>
    <li>
        <a href="!#" class="button purchase">Buy a code</a>
    </li>
</ul>